@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

p {
  position: center;
  color: #48d1cc;
  font-family: Shadows Into Light,cursive;

}

#design {
    position: center;
    color: #48d1cc;
    font-family: Shadows Into Light,cursive;
  
  }

  .font {
    position: center;
    color: #48d1cc;
    font-family: Shadows Into Light,cursive;
    margin: 0;
  }

  h3 {
    margin: 0;
    position: center;
    color: #48d1cc;
    font-family: 'Open Sans Condensed', sans-serif;
    }

    h1 {
      margin: 0;
    }