@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

p {
  position: center;
  color: #48d1cc;
  font-family: Shadows Into Light,cursive;

}

#design {
    position: center;
    color: #48d1cc;
    font-family: Shadows Into Light,cursive;
  
  }