@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

p {
  position: center;
  color: Black;
  font-family: Shadows Into Light,cursive;

}

#design {
    position: center;
    color: Black;
    font-family: Shadows Into Light,cursive;
  
  }

  .font {
    position: center;
    color: Black;
    font-family: Shadows Into Light,cursive;
    margin: 0;
  }

  /* .middle{
    position: center;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;

  } */

  h3 {
    margin: 0;
    position: center;
    color: Black;
    font-family: 'Open Sans Condensed', sans-serif;
    }

    h1 {
      margin: 0;
    }

   /* #back {
    position: center;
    background-color: #48d1cc;
    color:white;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 40;
    } */